doctype
html(lang="en")
head
  script(type='text/javascript' src='http://code.jquery.com/jquery-1.10.2.min.js')
  link(href='styles/style.css' rel='stylesheet')

  meta(charset="UTF-8")
  title Todo List
  script(src="/ajax.js")
body
  ul#toDoList
    each item in todos
      li.list
        p!= item._id 
        input(type="checkbox" data-list-id="#{item._id}" action="/check/#{item._id}/complete" )
        span.title  
          a(href="/edit/#{item._id}")!= item.title
        form(action="/destroy/#{item._id}?_method=DELETE", method="POST")
          button(class="x_button" style="right:4em;min-width:140px;color:red") X

 h1
 br
 a(href="/new_todo") New Item
 br
 br
 a(href="/edit_todo") Edit Item
