extends ./add_to_todos.jade

mixin list(arr)
  ol
    each item in arr
      li.list
        input(type="checkbox" data-list-id="#{item._id}" data-checked="#{item.is_done}")
        span.title  
          span
            a(href="/edit/#{item._id}")!= item.title
        div
          p= item.description
          form(action="/destroy/#{item._id}?_method=DELETE" method="POST")
            button X


block content
  
  div(class="container")
    
    li.header 
      h1 ToDoList
        span#countercheck 
          span Complete 
      
        span#counteruncheck
          span Incomplete
        a(class="add_item" href="/new_todo") New Item
    +list(todos)


 
        




